/* CSS RESET */
* {
    margin:0;
    padding:0;
  }
  html {
    box-sizing: border-box;
    font-size:62.5%;
  }
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
  /* CSS VARIBLES*/
  :root {
  --color-gradient-1: #A350D4;
  --color-gradient-2: #2720F2;
  --color-white-1: #fff;
  --color-label-text: #8a81e8;
  }
  /* MAIN CSS */
  body {
    font-family: 'Titillium Web', sans-serif;
    background-image: linear-gradient(to right bottom, var(--color-gradient-1),                           var(--color-gradient-2));
    height:100vh;
  }
  
  @keyframes fadeInOpacity {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  .fadein {
      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 0.5s;
  }
  .page-wrap {
     width: 90rem;
     height:50rem;
     background-color: var(--color-white-1);
     margin: 30px auto;
     display: flex;
      border-radius: 15px;
      overflow: hidden;
      perspective: 1px;
      box-shadow: 0px 6px 20px rgba(0,0,0,0.15), 0px 6px    25px rgba(0,0,0,0.35);
    align-items: center;
  }
  
  .logo-section {
    flex: 0 0 42%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-right:1px solid #eee;
    h1 {
      font-size:32px;
      text-transform: uppercase;
      margin-left:10px;
      
    }
    .logo {
      height:70px;
      margin-top:-25px;
      margin-left:20px;
    }
    
  }
  .login-section {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    h1 {
      text-transform: uppercase;
      font-size:21px;
      margin-bottom:15px;
    }
    form {
      width:70%;
    }
  
   }
  .form-group {
    margin-bottom:15px;
    display: flex;
    flex:1;
    justify-content: center;
    label {
      flex: 0 0 30%;
      font-size:17px;
      margin-right: 10px;
      color: var(--color-label-text);
      margin-top:5px;
      display:none;
    }
    .input-control {
       flex: 1;
      border: 1px solid #eaeaea;
      border-radius: 4px;
      padding: 13px 9px;
      align-self: center;
      &:focus {
        outline: none;
        box-shadow: 0px 2px 5px rgba(0,0,0,0.35);
      }
    }
   ::-webkit-input-placeholder {
      color: #ccc;
    }
  
   }
  
    .btn-login {
      background-color: var(--color-gradient-1);
      color: var(--color-white-1);
      flex:0 0 80%;
      border: none;
      padding:16px;
      border-radius:20px;
      margin-top:15px;
      cursor:pointer;
      font-size:16px;
    transition: all .3s ease-in-out;
      &:hover {
      background-color:#913cc3;
      box-shadow:0px 6px 8px rgba(0,0,0,0.25),
        0px 6px 15px rgba(0,0,0,0.15);
           transform: scale(1.2);
      }
     
    }
  .pConent {
    font-size:1.6rem;
    color: #777;
    a {
     color: var(--color-gradient-1);
    }
  }
  
  .hidden {
    display: none;
  }